@charset "UTF-8";

body {
	font-family: Arial;
}

table {
	width: 400px;
	background-color: lightgray;
	text-align: center;
	border-collapse: collapse;
	/* box-shadow: inset 3px 3px 6px 0px rgba(0, 0, 0, 30%); */
}

caption {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	background-color: #999999;
}

td, th {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
}

tbody > tr > td {
	background-image: url('image/tabela.png');
	background-size: 100px 100px;
}